:root{
    font-size: 16px;
}
$bodycolor:rgb(175, 222, 238);
$maincolor : rgb(6, 137, 181);
$inputColor:rgb(255, 255, 255);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:$maincolor;
    border-radius: 10px;
  }
  
body{
    background: $bodycolor;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header{
        background:linear-gradient(to right,rgba(6, 116, 153, 0.863),rgb(6, 137, 181),rgb(6, 137, 181),rgb(4, 159, 211));
        cursor: default;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        padding-left:1.5rem ;

        h1{
            font-size: 2rem;
            font-weight: 600;
            

            span{
                font-size: .8rem;
                color: $bodycolor;
                padding-left: .25rem;
                font-weight: 500;
            }
        }
        .text-focus-in {
            -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
    }
    .cont{
        max-width: 50%;
    }
    .name-sec{
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .img-date{
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            margin-bottom: 2rem;
            margin-top: 1.5rem;
            img{
                width: 100%;
                object-fit: cover;
                z-index: -1;
            }
            .overlay-date{
                width: 100%;
                height: 100%;
                max-height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.50);
                z-index: 2;
                color: #fff;
                padding: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                h2{
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 50px;
                }
                .tracking-in-expand {
                    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                }
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li{
                        padding: 1rem;
                    }
                    li:nth-of-type(1){
                        font-size: 1.2rem;
                    }
                    li:nth-of-type(2){
                        font-size: 2rem;
                    }
                    hr{
                        width: 80%;
                        height: 2px;
                        color: #fff;
                    }


                }
            }
        }
        
    }
    .task-sec{
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .name, .add-task{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            input{
                width: 80%;
                border: none;
                outline: none;
                padding: 1em;
                background:$inputColor;
                font-size: 1rem;
                font-weight: 500;
                color: rgb(70, 99, 226);
                letter-spacing: .05rem;
                &::placeholder{
                    font-weight: 400;
                }
            }
            .blink-1 {
                -webkit-animation: blink-1 0.6s both;
                        animation: blink-1 0.6s both;
            }
            button{
                width: 20%;
                padding: 1rem;
                background:$inputColor;
                border: none;
                outline: none;
                cursor: pointer;
                border-left: 5px solid $bodycolor;
                font-weight: 600;
                font-size: 1rem;
                color: $maincolor;
                letter-spacing: .05rem;
                &:hover{
                    color: #fff;
                    background-color: $maincolor;
                    transition: .4s ease;
                }
            }

        }
        .add-task{
            display: none;
        }
        .tasks{
            margin-top: 2rem;
            list-style: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .head{
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              

              h2{
                font-size: 1.5rem;
                font-weight: 500;
                color: rgb(17, 19, 18);
              }
              select{
                padding: .25rem .2rem;
                border: none;
                outline: none;
                text-align: center;
                font-weight: 600;
                background: $maincolor;
                color: #fff;
                transition: all .4s ease;
                option{
                  padding: .2rem;
                }
              }
            }

              
            li{
            border: 2px solid #fff;
            margin-top: 2rem;
            padding: .25rem;
            width: 90%;
            position: relative;
            font-size: 1.5rem;
            transition: .4s ease-in-out;
              &:hover .fa-trash-alt{ 
                  opacity: 1;
              }
              .fa-check-circle{
                  font-size: 1rem;
                  padding: .5rem;
                  cursor: pointer;
                  &:hover{
                      color: rgb(13, 190, 108);
                      transition: .4s ease;
                  }
              }
              .checked{
                  text-decoration: line-through;
                  opacity: .5;
              }
              .checked2{
                  color:rgb(13, 190, 108) ;
              }
              span{
                  font-size: 1rem;
                  font-weight: 500;
                  color:  rgb(6, 137, 181); 
              }
              .click{
                  position: absolute;
                  display: flex;
                  right: 0;
                  top: 50%;
                  transform:translateY(-50%);
                  i{
                    padding:0 .25rem ;
                    opacity: 0;
                    color: rgb(202, 45, 45);
                    transition: .4s ease;
                    font-size: 1rem;
                    cursor: pointer;
                      &:hover .tasks li{
                          border: 2px solid rgb(202, 45, 45);
                          background: #000;
                          transition:.4s ease;
                      }
                  }     
                }
            }
            .swing-out-top-bck {
                -webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
                        animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
            }
            .slide-out-elliptic-top-bck {
                -webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
                        animation: slide-out-elliptic-top-bck 0.7s ease-in both;
            }
            
        }
    }
}
// Key Frames
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

//
@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-out-elliptic-top-bck {
    0% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes slide-out-elliptic-top-bck {
    0% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
  }
  @-webkit-keyframes swing-out-top-bck {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }
  @keyframes swing-out-top-bck {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }
  
  
  
  

  
  
